<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Product</button> |
        <button class="btn btn-primary" (click)="onSaveData()">Save Data</button> |
        <button class="btn btn-info" (click)="onFetchData()">Fetch Data</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-product-item *ngFor="let productItem of products; let i = index" [product]="productItem" [index]="i"></app-product-item>
    </div>
</div>