<div class="row" id="login-background">
    <div class="col-xs-12 col-md-6">
        <img src="../../assets/login.gif" alt="login.gif" width="100%" height="200%">
    </div>
    <div class="col-xs-12 col-md-6" style="margin-top: 5%;">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div style="font-size: 24px;">
            <span class="glyphicon glyphicon-shopping-cart"></span> Adipedia
        </div>
        <hr>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> |
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
            </div>
            <hr>
            <div>
                <a href="#" class="fb btn-social">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="twitter btn-social">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn-social">
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </div>
        </form>
    </div>
</div>