<div class="row">
    <div class="col-xs-12">
        <img [src]="product.imagePath" alt="{{ product.name }}" class="img-responsive" style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Product <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onAddToHome()">Add to Home</a></li>
                <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Product</a></li>
                <li><a style="cursor: pointer;">Delete Product</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ product.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of product.categories">
                {{category}}
            </li>
        </ul>
    </div>
</div>